.head {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.nav-link {
  color: white !important;
  margin-left: 20px;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #00c6ff;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}